:root {
  background: var(--background);
}

/* Estiliza a barra de rolagem */
::-webkit-scrollbar {
  width: 6px; /* Largura da barra vertical */
  height:6px; /* Altura da barra horizontal */
}

/* Estiliza o fundo da barra */
::-webkit-scrollbar-track {
  /* margin-top: 10px; */
  background: transparent; /* Cor do fundo */
  border-radius: 10px;
}

/* Estiliza o "thumb" (a parte móvel da barra) */
::-webkit-scrollbar-thumb {
  background: var(--seccondaryBtn); /* Cor do "thumb" */
  border-radius: 10px;
}

/* Quando passar o mouse sobre a barra */
::-webkit-scrollbar-thumb:hover {
  background: var(--background);
}